body {
  margin: 0;
  font-family:"Avenir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  /* display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}


